h1 {
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: red;
}

#manOnContainer {
  background-image: url("buddha.png");
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
  background-color: blueviolet;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.mazeRow {
  flex-direction: row;
  display: flex;
}

.wall {
  background-image: url("brickwall.png");
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
}

#start {
  background-image: url("buddha.png");
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
  background-color: lightskyblue;
}

#finish {
  height: 40px;
  width: 40px;
  background: red;
}

.walkway {
  height: 40px;
  width: 40px;
  background: lightskyblue;
}

button {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  color: blueviolet;
}

#winningmessage {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 30px;
  width: 100px;
  align-items: center;
  justify-content: center;
}

#box {
  display: flex;
  height: 40px;
  width: 40px;
  background-image: url("barrel.png");
  background-size: 100% 100%;
  background-color: lightskyblue;
}

#emptyStorage {
  display: flex;
  height: 40px;
  width: 40px;
  background-image: url("X.png");
  background-size: 100% 100%;
  background-color: lightskyblue;
}

#boxOnStart {
  display: flex;
  height: 40px;
  width: 40px;
  background-image: url("goldenlotus2.png");
  background-color: lightskyblue;
  background-size: 100% 100%;
}
